body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text */
}

/* Additional styles for elements to fit the dark theme */
h1, h2, h3, p {
    color: #e0e0e0;
    padding: 20px;
    /* text-align: center; */
    max-width: 800px;
}

.video-container {
    background-color: #1e1e1e; /* Slightly lighter than body for contrast */
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
}

video {
    display: block;
    width: 100%;
    height: auto;
}

iframe {
    display: block;
    width: 100%;
    height: 50vh;
}

/* Dark theme for the modal */
.modal-content {
    background-color: #343a40; /* Dark gray */
    color: white; /* White text color */
}

/* Customizing the modal header specifically if needed */
.modal-header {
    border-bottom: 1px solid #474f55; /* Darker shade for the border */
}

/* Customizing the modal footer specifically if needed */
.modal-footer {
    border-top: 1px solid #474f55; /* Darker shade for the border */
}

/* Ensure the close button is visible */
.modal-header .close {
    color: white;
    text-shadow: none; /* Remove text shadow if any */
}

#modalBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    font-size: 18px; 
    border: none; 
    outline: none; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 4px;
}

.green{
    color: green;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.yellow{
    color: yellow;
}

.bold{
    font-weight: bold;
}

/* Adjustments for other elements as needed */