body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -99;
  object-fit: cover;
}

.blur-glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px); /* Adjust the blur value as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: -90; /* Ensure it's above the video but below the content */
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh; /* Use viewport height to ensure full height */
  background-color: rgba(0,0,0,0.5); /* Optional: in case you want a dark overlay on your video */
}

.content {
  z-index: 1;
  /* Content on top of the video */
  padding: 20px;
  color: white;
}

.page-title {
  text-align: center;
  padding: 20px;
  background-color: rgba(0,0,0,0.8); /* Light grey background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.7); /* Subtle shadow */
  opacity: 0; /* Start with the text invisible */
  transform: translateY(20px); /* Start slightly lower */
  animation: fadeInUp 1s ease-in-out forwards; /* Animation to fade in and move up */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; /* Fully visible */
  }
}

h1, h2, h3 {
  margin: 10px 0; /* Spacing between headings */
  color: #ffffff; /* Dark grey color for text */
}

h1 {
  font-size: 3.5rem; /* Larger font size for h1 */
}

h2 {
  font-size: 3rem; /* Medium font size for h2 */
}

h3 {
  font-size: 2.5rem; /* Smaller font size for h3 */
}

.start-learning-btn {
  padding: 10px 20px;
  font-size: 2rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 255, 47, 0.592); /* Add shadow for depth */
}

.start-learning-btn:hover, .start-learning-btn:focus {
  background-color: #317641;
  transform: scale(1.05); /* Slightly increase the button size */
  box-shadow: 0 4px 8px rgb(0, 255, 47); /* Enhanced shadow on hover/focus */
}

.start-game-btn {
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 2rem;
  color: #fff;
  background-color: rgb(233, 67, 233);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px rgb(233, 67, 233, 0.592); /* Add shadow for depth */
}

.start-game-btn:hover, .start-game-btn:focus {
  background-color: rgb(171, 99, 171);
  transform: scale(1.05); /* Slightly increase the button size */
  box-shadow: 0 4px 8px rgb(255, 0, 255); /* Enhanced shadow on hover/focus */
}